<ol reversed{% if start %} start="{{ start }}"{% endif %}>
{% for post in posts %}
  <li>
    <a href="{{ post.url | url | clean }}">{% if post.data.title %}{{ post.data.title | markdown | safe }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags %}
      {% if not 'io' in tag and not 'Node.js' in tag %}
        <a href="/features/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
      {% endif %}
    {% endfor %}
  </li>
{% endfor %}
</ol>
