# @alrra/browser-logos image dependencies, managed through npm:
src/_css/img/safari.png
src/_css/img/chrome.svg
src/_css/img/firefox.svg
src/_js/dark-mode-toggle.mjs
# Other ignores:
dist/
.firebase/
firebase-debug.log
node_modules/
package-lock.json
