:root {
  --html-color: var(--black);
  --html-background-color: var(--darkgray);
  --main-color: var(--black);
  --main-background-color: var(--white);
  --footer-background-color: var(--lightestgray);
  --main-and-footer-link-color: var(--darkblue);
  --avatar-img-filter: none;
  --icon-no-support-filter: grayscale(100%);
  --note-color: var(--main-color);
  --note-background-color: var(--lightyellow);
  --tag-color: var(--black);
  --tag-background-color: var(--lightestgray);
  --logo-hover-background-color: var(--lightestgray);
}